extends ../layouts/main-layout

block styles 
  title Reset password

block content 
  .container.d-flex.a-center.flex-column
    h1.my-2 Reset your password:
    form.text-center(action="/user/reset", method="post") 
      input.mb-1.form-control(type="text" name="userName" placeholder="Name:")
      input.mb-1.form-control(type="text", name="userMail" placeholder="User Email:")
      input(type="hidden" name="_csrf" value=csrfToken)
      button.btn(type="submit") Reset password
  