doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")

    block styles
  body 
    nav
      a.link-item(href="/shop") Products
      if isAuthenticated
        a.link-item(href="/seller") Seller Dashboard 
        a.link-item(href="/shop/cart") Cart
        form(action="/user/logout", method="post") 
         input(type="hidden", name="_csrf" value=csrfToken)
         button.link-item(type="submit")  Logout 
      if !isAuthenticated
        a.link-item(href="/user/login") Login
        a.link-item(href="/user/signup") Signup
    if flashMessages
      each message in flashMessages
        .div(class=`flash-message flash-${message.type}`)
          p=message.text
    block content

